@charset "utf-8";
/*for desktop/tablet screens*/
@media only screen and (min-width: 641px){
html{
    text-align: center;
    background-color: whitesmoke;
    height: 100%;
}
button{
    text-align: center;
    background-color: darkgreen;
    width: 100%;
    padding: none;
    

}
 a {
    float: left;
   display: inline;
    color: white;
    font-size: 20px;
    padding:14px 15px;
    margin: auto;
    display: block;
    border: 2px black;
    
}
h1{
    color: darkgreen;
}
h2{
    color: darkgreen;
 
    
}
h3{
    color: darkgreen;
}
p1{
    color: darkgreen;
}
p2{
    color: darkgreen;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 2px black;

}
li{
    border: 2px black;
    display: block;
}
.topnav {
    text-align: center;
}

/*for mobile screens*/
@media only screen and (max-width: 640px) {
    
}