@charset "utf-8";
/*for desktop/tablet screens*/
@media only screen and (min-width: 641px){
html{
    text-align: center;
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    
}

}
 a {
    float: left;
   display: inline;
    color: white;
    font-size: 20px;
    padding:14px 15px;
    margin: auto;
    display: block;
    border: 2px black;
    
}
h1{
    color: darkgreen;
    margin-top: 100px; 
}
h2{
    color: darkgreen;
 
    
}
h3{
    color: darkgreen;
}
p1{
    color: darkgreen;
    padding: 10px;
}
p2{
    color: darkgreen;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 2px black;
}
li{
    border: 2px black;
    display: block;
}
.topnav {
    
    text-align: center;
    background-color: darkgreen;
    width: 100%;
    padding: none;
    position: fixed;
    top: 0;
}
.photos{
    display: flex;
    justify-content: center;   
}
form input{
    height: 25px;
    padding: 5px;
    text-align: left;
    margin-bottom: 3px;
    background-color: white;
    border: 1px solid black;
}
form textarea{
    resize:none;
    background-color: white;
    border: 1px solid black;
    
}

/*for mobile screens*/
@media only screen and (max-width: 640px) {
    
}