@charset "utf-8";

html{
    background-color: whitesmoke;
    height: 100%;
}
button{
    background-color: darkgreen;
    width: 100%;
}
h1{
    color: darkgreen;
}
h2{
    color: darkgreen;
    width: 100%;
    
}
h3{
    color: darkgreen;
}
p1{
    color: darkgreen;
}